@font-face{
    font-family: "Comodo";
    src: url("./fonts/Comodo\ Regular\ Free.ttf") format("truetype");
}

@font-face{
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
}

/* home.css */

/* Reseta margens e preenchimentos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comodo', sans-serif;
}

:root {
    --sonichedgehog: #0000CD;
    --hollowpurple: #a729f5;
    --white: #fff;
    --cinza-square: rgba(86, 86, 86, 0.83);
}

body {
    height: auto;
    min-height: 20vh;
    margin: 0;
    background: url('./images/kyle-gregory-devaras-QFjSiok61xA-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header { 
    width: 100%;
    height: 70px;
    background: linear-gradient(to right, var(--sonichedgehog), var(--hollowpurple));
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0;
}

.logo {
    height: 125px; /* Ajuste conforme necessário */
}

.menu {
    display: flex;
    gap: 100px; /* Espaço entre os itens */
    margin: 0 auto; /* Centraliza o menu horizontalmente */
    flex: 1;
    justify-content: center; /* Centraliza os itens dentro do menu */
}

.menu a {
    font-weight: 500;
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem; /* Ajuste conforme necessário */
}

.menu a:hover {
    text-decoration: underline;
}

.centro {
    font-family: 'Geologica', sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 300px;
    z-index: 5;
}

h1 {
    font-size: 440%;
    color: var(--white);
}

h2 {
    font-size: 220%;
    color: var(--white);
}

.bloco {
    margin-top: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    position: relative;
}

.quadrado {
    width: 1220px;
    height: 495px;
    background-color: var(--cinza-square);
    display: flex;
    align-items: center;
    padding: 0;
    position: relative;
}

.imagem {
    width: 50%;
    height: 100%;
    background-image: url('./images/trabalhodolaisu.png');
    background-size: cover;
    background-position: center;
}

.texto {
    width: 50%;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    text-align: right;
    padding: 20px;
    color: var(--white);
    box-sizing: border-box;
}

.texto>h1{
    position: relative;
    top: -100px;
}

.texto>h1, .texto>p{
    position: relative;
    right: -50px;
}

.texto, .quadrado>img{
    position: relative;
    left: 50px;
}

.bloco-miniaturas {
    margin-top: 50px; /* Ajuste conforme necessário */
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Ajuste conforme necessário */
    padding: 20px;
}

.quadrado-miniaturas {
    width: 1220px; 
    height: 495px; 
    background-color: var(--cinza-square);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
}

.titulo {
    font-family: 'Geologica', sans-serif;
    font-weight: 900;
    color: var(--white);
    font-size: 4rem; /* Ajuste conforme necessário */
    margin-bottom: 20px; /* Espaço abaixo do título */
    text-align: center;
}

.miniaturas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: calc(100% - 60px); /* Ajuste para considerar o padding e o título */
    overflow-y: auto; /* Adiciona rolagem se necessário */
}

.miniatura {
    text-align: center;
    width: 180px; /* Ajuste conforme necessário */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.miniatura img {
    width: 100%; /* Ajuste conforme necessário para definir o tamanho da imagem */
    height: auto;
}

.miniatura p {
    font-family: 'Geologica', sans-serif;
    font-weight: 500;
    color: var(--white);
    margin-top: 10px;
}


.logo-link {
    display: flex; /* Para garantir que o link envolva corretamente o logo */
    align-items: center;
}
