@font-face {
    font-family: "Comodo";
    src: url("./fonts/Comodo Regular Free.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
}

/* Reseta margens e preenchimentos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comodo', sans-serif;
}

:root {
    --sonichedgehog: #0000CD;
    --hollowpurple: #a729f5;
    --white: #fff;
    --cinza-square: rgba(86, 86, 86, 0.83);
}   
/* Estilos gerais */
body {
    height: auto;
    min-height: 100vh;
    margin: 0;
    padding-top: 70px;
    background: url('./images/kyle-gregory-devaras-QFjSiok61xA-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header {
    width: 100%;
    height: 70px;
    background: linear-gradient(to right, var(--sonichedgehog), var(--hollowpurple));
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 0;
}

.logo {
    height: 60px;
}

.menu {
    display: flex;
    gap: 30px;
    margin: 0 auto;
    flex: 1;
    justify-content: center;
}

.menu a {
    font-weight: 500;
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
}

.menu a:hover {
    text-decoration: underline;
}

.centro {
    font-family: 'Geologica', sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 400px;
}

h1 {
    font-size: 4rem;
    color: var(--white);
    margin-bottom: 10px;
}

h2 {
    font-size: 2.2rem;
    color: var(--white);
    margin-bottom: 20px;
}

.bloco {
    margin-top: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    position: relative;
}

.quadrado {
    width: 100%;
    max-width: 1200px;
    height: 495px;
    background-color: var(--cinza-square);
    display: flex;
    align-items: center;
    padding: 0;
    position: relative;
}

.imagem {
    width: 50%;
    height: 100%;
    background-image: url('./images/trabalhodolaisu.png');
    background-size: cover;
    background-position: center;
}

.texto {
    width: 50%;
    font-family: 'Geologica', sans-serif;
    font-weight: 500;
    text-align: right;
    padding: 20px;
    color: var(--white);
    box-sizing: border-box;
}

.bloco-miniaturas {
    margin-top: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    flex-direction: column; /* Ajuste para garantir que o texto esteja abaixo das miniaturas */
}

.quadrado-miniaturas {
    width: 100%;
    max-width: 1200px;
    min-height: 495px;
    background-color: var(--cinza-square);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    position: relative;
}

.titulo {
    font-family: 'Geologica', sans-serif;
    font-weight: 900;
    color: var(--white);
    font-size: 3rem;
    margin-bottom: 20px; /* Reduza a margem inferior para espaço adequado para o texto adicional */
    text-align: center;
}

.miniaturas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-height: calc(100% - 60px);
    overflow-y: auto;
}

.miniatura {
    text-align: center;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.miniatura img {
    width: 100%;
    height: auto;
    margin-top: 140px;
}

.miniatura p {
    font-family: 'Geologica', sans-serif;
    font-weight: 500;
    color: var(--white);
    margin-top: 40px;
}

/* Novo estilo para o texto adicional */
.descricao {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--white);
    font-size: 1.2rem;
    text-align: center;
    margin-top: 80px; /* Espaço entre as miniaturas e o texto adicional */
    max-width: 800px; /* Limite a largura do texto para não ser muito largo */
}

.logo-link {
    display: flex;
    align-items: center;
}

@media (max-width: 1440px) {
    .bloco {
        margin-top: 350px; /* Espaço aumentado acima do bloco cinza para telas menores */
    }

    .centro {
        margin-top: 250px; /* Ajuste o espaço acima do bloco central para telas menores */
    }

    .bloco-miniaturas {
        margin-top: 250px; /* Aumenta o espaço acima do bloco-miniaturas para telas menores */
    }




}