

@font-face {
    font-family: "Comodo";
    src: url("../../fonts/comodo-comodo-regular-400.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat-Light.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
}

:root {
    --sonichedgehog: #0000CD;
    --hollowpurple: #a729f5;
    --white: #fff;
    --cinza-square: rgba(86, 86, 86, 0.83);
}

body {
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 70px;
    background: url('../../images/kyle-gregory-devaras-QFjSiok61xA-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /* Centraliza os itens horizontalmente */
}

.barra {
    width: 100%;
    height: 70px;
    background: linear-gradient(to right, var(--sonichedgehog), var(--hollowpurple));
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0px;
    z-index: 10;
}

.logo {
    height: 120px;
}

.menu {
    display: flex;
    gap: 150px;
    flex: 1;
    justify-content: center;
    margin-right: 200px;
}

.menu a {
    font-family: Comodo;
    font-weight: 500;
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
}

.menu a:hover {
    text-decoration: underline;
}

.login-container {
    font-family: comodo;
    max-width: 400px;
    margin: 150px auto;
    padding: 30px;
    background-color: #1c1f6e88;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container p {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color:  var(--white);
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc4d;
    border-radius: 4px;
    background-color: #969696;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--hollowpurple) ;
    color: var(--c);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color:  var(--sonichedgehog);
}

.login-container a {
    color: var(--white); /* Altere para a cor desejada */
    padding: 10px 10px; /* Adiciona 5px de espaço em cima e embaixo, e 10px nas laterais */
    display: inline-block; /* Permite que o padding funcione corretamente */
}

.login-container a:hover {
    color: var(--hollowpurple); /* Altere para a cor desejada ao passar o mouse */
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse, se desejado */
}